* {
    margin: 0;
    padding: 0;
}
nav ul li a {
    color: yellow;
    font-size: 50px;
    font-family: cursive;
    text-decoration: none;
    border-color: darkmagenta;
    transition:all .5s;
}
nav ul li a:active {
    opacity: .2;
}
nav ul li a:hover {
    background-image: linear-gradient(to top, darkmagenta, black);
    border-radius: 20px;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: black;
    border: 3px;
    border-style: solid;
}
#second_nav {
    display: none;
    color: black;
}
@media screen and (max-width: 1000px) {
    #second_nav {
        display: block;
    }
    nav ul li{
        display: none;
    }
}